.header{}

.header-container {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    padding: 10px 20px ;
}
.mt-3{
    display: inline-block;
    margin-top: 10px;
}

.search{
    margin-left: 80px;
    outline: none;
    padding-left: 10px;
    width : 200px;
    height: 35px;
    border: 2px solid #2779a7;
    border-radius: 4px 4px 4px 4px;


}

.search-btn{
    margin-left: 5px;
    height: 35px;
    background-color: #2779a7;
    color: #ffffff ;
    outline: none;
    border-radius: 4px 4px 4px 4px;
    border: none;

}
.logout-btn{
    height: 35px;
    background-color: #2779a7;
    color: #ffffff ;
    outline: none;
    border-radius:  4px;
    border: none;
    padding: 1px 16px;

}



